@font-face {
  font-family: "zara";
  src: url("../../Fonts/Neue\ Helvetica\ Condensed\ BQ\ Regular.otf");
}

.item-container{
  margin: 20px;
}

.details-container{
  display: flex;
  flex-direction: row;
}

.detail-text{
  font-family: "zara";
  font-size: 13px;
}